{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-model">{{ entry_model }}</label>
              <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-price">{{ entry_price }}</label>
              <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
              <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">{{ entry_status }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                
                
                
                  
                

                  {% if filter_status == '1' %}

                
                
                  
                
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="1">{{ text_enabled }}</option>
                
                
                
                  
                

                  {% endif %}
                  {% if filter_status == '0' %}

                
                
                  
                
                
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="0">{{ text_disabled }}</option>
                
                
                
                  
                

                  {% endif %}


              
              
                
              
              
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-center">{{ column_image }}</td>
                      <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                      <td class="text-right">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                      <td class="text-left">{% if sort == 'p.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>
                    <td class="text-center">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                    
			<td class="text-left">{{ product.name }} <a href="{{ product.front_link }}" data-toggle="tooltip" title="{{ button_view }}" TARGET="_BLANK"><i class="fa fa-external-link"></i></a></td>
				
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      
				<div id="show_price_input_{{ product.product_id }}" onclick="show_input('{{ product.product_id }}')">{{ product.raw_price }}</div>
				<input type="text" value="{{ product.raw_price }}" placeholder="price" id="price_{{ product.product_id }}" class="form-control input-sm" style="display:none;" />
				<div id="button_price_{{ product.product_id }}">
					<span class="btn btn-primary btn-xs edit" onclick="edit_price_input('{{ product.product_id }}')"><i class="fa fa-pencil"></i></span>
					<span class="btn btn-primary btn-xs save" style="display:none" onclick="save_price_input('{{ product.product_id }}')"><i class="fa fa-check"></i></span>
					<span class="btn btn-default btn-xs cancel" style="display:none" onclick="cancel_price_input('{{ product.product_id }}')"><i class="fa fa-times"></i></span>
				</div>
				
                      {% endif %}</td>
                    
			<td class="text-right">
				<div id="show_quantity_input_{{ product.product_id }}">
					{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %} 
				</div>
				<input type="number" value="{{ product.quantity }}" placeholder="quantity" id="quantity_{{ product.product_id }}" class="form-control input-sm" style="display:none;width:90px;" />
				<div id="button_quantity_{{ product.product_id }}">
					<span class="btn btn-primary btn-xs edit" onclick="edit_quantity_input('{{ product.product_id }}')"><i class="fa fa-pencil"></i></span>
					<span class="btn btn-primary btn-xs save" style="display:none" onclick="save_quantity_input('{{ product.product_id }}')"><i class="fa fa-check"></i></span>
					<span class="btn btn-default btn-xs cancel" style="display:none" onclick="cancel_quantity_input('{{ product.product_id }}')"><i class="fa fa-times"></i></span>
				</div>
			</td>
				
                    
			<td class="text-left">
				<div id="status_{{ product.product_id }}">
					<div>
					{% if product.status == 1 %}
 						 {{ "<div class='enabled'><i class='fa fa-check'></i> <b>Enabled</b></div>" }}
					{% else %}
						 {{ "<div class='disabled'><i class='fa fa-times'></i> <b>Disabled</b></div>" }}
					{% endif %}
					</div>  
					  {% if product.status == 1 %}
					  <a class="status_{{ product.product_id }} small" onclick="change_status('{{ product.product_id }}','0')" data-toggle="tooltip" title="Click to  {{ text_disabled }} " ><i class='fa fa-times'></i> {{ text_disabled}} </a>
					 {% else %}
					  <a class="status_{{ product.product_id }} small" onclick="change_status('{{ product.product_id }}','1')" data-toggle="tooltip" title="Click to  {{ text_enabled }} " ><i class='fa fa-check'></i>  {{  text_enabled }}</a>
					 {% endif %}
				</div>
			</td>
				
                    <td class="text-right"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/product&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script></div>

				  <script type="text/javascript">
					function change_status(id,statusid){
						$('#status_'+id).addClass("loader16");
						$('.status_'+id).remove();
						$.ajax({
							url: 'index.php?route=catalog/product/changestatusid&user_token={{ user_token }}&product_id='+id+'&status='+statusid,
							success: function(data) {
							$('#status_'+id).html(data);
							$('#status_'+id).removeClass("loader16");
							}
						  });
					}
					function save_price_input(id){
						$('#price_'+id).prop("disabled",true);
						var price = $('#price_'+id).val();
						$.ajax({
							url: 'index.php?route=catalog/product/changeproductprice&user_token={{ user_token }}&product_id='+id+'&price='+price,
							complete: function () {
								$('#button_price_'+id+' .save').hide();
								$('#button_price_'+id+' .cancel').hide();
								$('#button_price_'+id+' .edit').show();
							},
							success: function(data) {
							$('#price_'+id).prop("disabled",false);
							$('#show_price_input_'+id).css("display","block");
							$('#show_price_input_'+id).empty();
							$('#show_price_input_'+id).append(data);
							$('#price_'+id).css("display","none");
							}
						  });
					}
					function edit_price_input(id){
						$('#price_'+id).css("display","block");
						$('#show_price_input_'+id).css("display","none");
						$('#button_price_'+ id +' .save').show();
						$('#button_price_'+ id +' .cancel').show();
						$('#button_price_'+ id +' .edit').hide();
					}
					function cancel_price_input(id){
						$('#price_'+id).css("display","none");
						$('#show_price_input_'+id).css("display","block");
						$('#button_price_'+id+' .save').hide();
						$('#button_price_'+id+' .cancel').hide();
						$('#button_price_'+id+' .edit').show();
					}
					
					function save_quantity_input(id){
						$('#quantity_'+id).prop("disabled",true);
						var quantity = $('#quantity_'+id).val();
						$.ajax({
							url: 'index.php?route=catalog/product/changeproductquantity&user_token={{ user_token }}&product_id='+id+'&quantity='+quantity,
							complete: function () {
								$('#button_quantity_'+id+' .save').hide();
								$('#button_quantity_'+id+' .cancel').hide();
								$('#button_quantity_'+id+' .edit').show();
							},
							success: function(data) {
							$('#quantity_'+id).prop("disabled",false);
							$('#show_quantity_input_'+id).css("display","block");
							$('#show_quantity_input_'+id).empty();
							if(data <= 0){
								$('#show_quantity_input_'+id).append('<span class="label label-warning">' + data + '</span>');
							} else if(data <= 5) {
								$('#show_quantity_input_'+id).append('<span class="label label-danger">' + data + '</span>');
							} else {
								$('#show_quantity_input_'+id).append('<span class="label label-success">' + data + '</span>');
							}
							$('#quantity_'+id).css("display","none");
							}
						  });
					}
					function edit_quantity_input(id){
						$('#quantity_'+id).css("display","block");
						$('#show_quantity_input_'+id).css("display","none");
						$('#button_quantity_'+ id +' .save').show();
						$('#button_quantity_'+ id +' .cancel').show();
						$('#button_quantity_'+ id +' .edit').hide();
					}
					function cancel_quantity_input(id){
						$('#quantity_'+id).css("display","none");
						$('#show_quantity_input_'+id).css("display","block");
						$('#button_quantity_'+id+' .save').hide();
						$('#button_quantity_'+id+' .cancel').hide();
						$('#button_quantity_'+id+' .edit').show();
					}
				</script>
				<style>
					.enabled  {
					color: #0fa000;
				}
				.disabled  {
					color: #ff0000;
				}
				</style>
{{ footer }} 