<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}

  <!-- jQuery -->
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>

  <!-- Bootstrap -->
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

  <!-- Font Awesome -->
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

  <!-- CSS  -->
  <link href="catalog/view/theme/mintleaf/stylesheet/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/theme/mintleaf/stylesheet/stylesheet-responsive.css" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}

  <!-- JavaScript  -->
  <script src="catalog/view/theme/mintleaf/js/custom.js" type="text/javascript"></script>
  <script src="catalog/view/theme/mintleaf/js/common.js" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}

  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

</head>
<body>
<!-- Main Header Starts -->
  <header class="main-header">
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Top Bar Starts -->
      <div class="topbar clearfix text-center-xs font-weight-medium">
      <!-- Welcome Text Starts -->
        <div class="pull-left-lg pull-left-md pull-left-sm">
          <p class="mb-lg-0 mb-md-0">Welcome to Pisum Food Services Private Limited, serving since 2015</p>
        </div>
      <!-- Welcome Text Ends -->
      <!-- Top Links Starts -->
        <div class="pull-right-lg pull-right-md pull-right-sm">
          <ul class="list-unstyled list-inline top-links mb-0 text-right-lg text-right-md text-right-sm">
            <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle animation" data-toggle="dropdown">{{ text_account }} <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right rounded-0">
                {% if logged %}
                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                  <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                  <li><a href="{{ download }}">{{ text_download }}</a></li>
                  <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                {% else %}
                  <li><a href="{{ register }}">{{ text_register }}</a></li>
                  <li><a href="{{ login }}">{{ text_login }}</a></li>
                {% endif %}
              </ul>
            </li>
            <li class="animation"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
          <!--  <li class="animation"><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">{{ text_shopping_cart }}</a></li>
            <li class="animation"><a href="{{ checkout }}" title="{{ text_checkout }}">{{ text_checkout }}</a></li>//-->
          </ul>
        </div>
      <!-- Top Links Ends -->
      </div>
    <!-- Top Bar Ends -->
    <!-- Main Menu Starts -->
      {{ menu }}
    <!-- Main Menu Ends -->
    </div>
  <!-- Nested Container Ends -->
  </header>
<!-- Main Header Ends -->